In [72]:
## Import library
import pandas as pd
import os
import plotly.graph_objects as go
from datetime import datetime, timedelta

In [71]:
## function
def get_year_list(n, start_date):
    year_list = []
    year = start_date.year

    if n <= 0:
        return year_list
    else:
        for i in range(n):
            year_list.append(year+i)

    return year_list

class MyInvesment:

    def __init__(self, capital, interest_rate):
        self.capital = capital
        self.interest_rate = interest_rate

    def get_profit(self, n_year):
        profit = self.capital*((self.interest_rate+1)**(n_year)) - self.capital

        return profit

    def get_new_capital(self, n_year):
        new_capital = self.capital*((self.interest_rate+1)**(n_year))

        return new_capital

In [73]:
## Input
folder = os.getcwd()
print(f'your current folder is {folder}')
file = r'sample.csv'
file_dir = os.path.join(folder,file)
df = pd.read_csv(file_dir)

n_year = 10
start_date = datetime.now()
start_year = start_date.year
list_year = get_year_list(n_year, start_date)

df

your current folder is e:\Python\Test

  Investment portfolio  Interest rate  Capital
0          Real estate           0.15     5000
1                Stock           0.10     3000
2               Crypto           0.20     1000

In [76]:
## Execution
df1 = {
    "Investment portfolio": [],
    "Interest rate": [],
    "Capital": [],
    "Year": [],
    "Profit": [],
    "New Capital": []
}

for i in range(len(df["Investment portfolio"])):
    my_invesment = MyInvesment(df["Capital"][i], df["Interest rate"][i])

    for j in range(n_year):
        df1["Investment portfolio"].append(df["Investment portfolio"][i])
        df1["Interest rate"].append(df["Interest rate"][i])
        df1["Capital"].append(df["Capital"][i])
        df1["Year"].append(list_year[j])
        df1["Profit"].append(np.round(my_invesment.get_profit(list_year[j]-start_year)))
        df1["New Capital"].append(np.round(my_invesment.get_new_capital(list_year[j]-start_year)))

df2 = pd.DataFrame(df1)
df2

   Investment portfolio  Interest rate  Capital  Year   Profit  New Capital
0           Real estate           0.15     5000  2023      0.0       5000.0
1           Real estate           0.15     5000  2024    750.0       5750.0
2           Real estate           0.15     5000  2025   1612.0       6612.0
3           Real estate           0.15     5000  2026   2604.0       7604.0
4           Real estate           0.15     5000  2027   3745.0       8745.0
5           Real estate           0.15     5000  2028   5057.0      10057.0
6           Real estate           0.15     5000  2029   6565.0      11565.0
7           Real estate           0.15     5000  2030   8300.0      13300.0
8           Real estate           0.15     5000  2031  10295.0      15295.0
9           Real estate           0.15     5000  2032  12589.0      17589.0
10                Stock           0.10     3000  2023      0.0       3000.0
11                Stock           0.10     3000  2024    300.0       3300.0
12                Stock           0.10     3000  2025    630.0       3630.0
13                Stock           0.10     3000  2026    993.0       3993.0
14                Stock           0.10     3000  2027   1392.0       4392.0
15                Stock           0.10     3000  2028   1832.0       4832.0
16                Stock           0.10     3000  2029   2315.0       5315.0
17                Stock           0.10     3000  2030   2846.0       5846.0
18                Stock           0.10     3000  2031   3431.0       6431.0
19                Stock           0.10     3000  2032   4074.0       7074.0
20               Crypto           0.20     1000  2023      0.0       1000.0
21               Crypto           0.20     1000  2024    200.0       1200.0
22               Crypto           0.20     1000  2025    440.0       1440.0
23               Crypto           0.20     1000  2026    728.0       1728.0
24               Crypto           0.20     1000  2027   1074.0       2074.0
25               Crypto           0.20     1000  2028   1488.0       2488.0
26               Crypto           0.20     1000  2029   1986.0       2986.0
27               Crypto           0.20     1000  2030   2583.0       3583.0
28               Crypto           0.20     1000  2031   3300.0       4300.0
29               Crypto           0.20     1000  2032   4160.0       5160.0

In [80]:
df3 = df2.groupby( ['Year'], dropna=False, as_index=False).agg( Total_Profit = ('Profit','sum'), AVG_Profit = ('Profit','mean'), Total_Capital = ('New Capital','sum') )
df3['AVG_Profit'] = df3['AVG_Profit'].round(2)
df3

   Year  Total_Profit  AVG_Profit  Total_Capital
0  2023           0.0        0.00         9000.0
1  2024        1250.0      416.67        10250.0
2  2025        2682.0      894.00        11682.0
3  2026        4325.0     1441.67        13325.0
4  2027        6211.0     2070.33        15211.0
5  2028        8377.0     2792.33        17377.0
6  2029       10866.0     3622.00        19866.0
7  2030       13729.0     4576.33        22729.0
8  2031       17026.0     5675.33        26026.0
9  2032       20823.0     6941.00        29823.0

In [81]:
## Save file
df2.to_csv('summary_Invesment_by_Portfolio.csv', index=False)
df3.to_csv('summary_Invesment_by_Year.csv', index=False)